<div class="navbar-container" *ngIf="userName()">
  <mat-toolbar color="primary">
    <span>Empledos App</span>
    <span class="spacer"></span>
    <span class="user-name">Usuario: {{ userName() }}</span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
